body{
    margin: 0px;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    background-color: whitesmoke;

}

form.example input[type=text] {
    position: absolute;
    bottom: 50%;
    right: 30%;
    padding: 20px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 50%;
    background: whitesmoke;
  }
  .sub{
      position: absolute;
      bottom: 50%;
      right: 23%;
      padding: 20px;
      font-size: 17px;
      border: 1px solid grey;
      background: whitesmoke;
  }

.btn{
    text-align: right;
    text-decoration: none;
}
.btn1{
    text-decoration: none;
    background-color:
    border: 2px solid whitesmoke;
    font-size: 15px;
    padding: 8px 5px;
    margin: 4px 2px;
    cursor: pointer;
}
.btn2{

    text-align: right;
    background-color:
    border: 2px solid  whitesmoke;
    font-size: 15px;
    padding: 8px 5px;
    margin: 4px 2px;
    text-decoration: none;
    cursor: pointer;
}
.btn3{
    text-decoration: none;
    background-color:
    border: 2px solid  whitesmoke;
    font-size: 15px;
    padding: 8px 5px;
    margin: 4px 2px;
    cursor: pointer;
}
.btn4{
    text-decoration: none;
    background-color:
    border: 2px solid whitesmoke;
    font-size: 15px;
    padding: 8px 5px;
    margin: 4px 2px;
    cursor: pointer;
}
hr{
    border-bottom: none;
    margin: 50px auto;
    width: 1000px;
    
}
.oneclick{
    text-align: center;
    position: absolute;
    bottom: 30%;
    left: 20%;
    font-size: 60px;
    color:white;
}
.nomore{
    text-align: center;
    position: absolute;
    bottom: 15%;
    left: 27%;
    font-size: 60px;
    color:white;
}
.cart{
    position: relative;
    left: 37%;
    top: 5px;
}
.search{
    position: relative;
    left: 38%;
    top: 2px;
}
.mydiv1{
    margin: 0; 
    padding-bottom: -0px;
}
.mydiv2{
    background-color: white;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
}
.logo{
    padding-left: 15px;
    padding-top: 15px;
    float: left;
    position: relative;
    bottom: 15px;
}
.top-icons{
    font-size: 25px;
    position: absolute;
    top: 50px;
    right: 100px;
    margin: 10px 0 10px 0;
    text-decoration: none;
}
.top-icons2{
    font-size: 25px;
    position: absolute;
    bottom: 200px;
    right: 100px;
    margin: 10px 0 10px 0;
    text-decoration: none;
}
h1{
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Poiret One', cursive;
    padding-top: 10px;
    padding-left: 10px;
    margin: 0%;
    text-align: left;
    font-size:  35px;
    color: tomato;
}
h3{
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: left;
    position: relative;
    left: 100px;

}
h5{
    font-family: 'Montserrat Alternates', sans-serif;
    padding-left: 10px;
    text-align: left;
    margin: 0%;
    position: relative;
    left: 0px;  
    bottom: 1px;
    
}
.mydiv2{
    
    position: relative;
    align-items: center;
}
.Fashion{
    text-decoration: none;
    color: tomato;
    font-size: 50px;
  position: absolute;
  top: 30%;
  right: 78%;
}
.Electronics{
    text-decoration: none;
    color:tomato;
    font-size: 50px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Sports{
    text-decoration: none;
    color: tomato;
    font-size: 50px;
    position: absolute;
    top: 30%;
    left: 78%;
}
.latest-trending{
    background-color: white;

}
.contact details{
    position: relative;
    left: 100px;

}
.bottom-container{  
    line-height: 0px;
    padding: 10px;
    background-color:  
}
.copyrights{
    line-height: 50px;
    color:white;
    font-size: 0.75rem;
}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}
    a:hover{
    color: #eaf6f6;
}
