body{
    margin: 0px;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    background-color: whitesmoke;
}
hr{
    border-bottom: none;
    margin: 100px auto;
    width: 1000px;
    
}
.btn{
    text-align: right;
    text-decoration: none;
}
.btn1{
    text-decoration: none;
    background-color:
    border: 2px solid whitesmoke;
    font-size: 15px;
    padding: 8px 5px;
    margin: 4px 2px;
    cursor: pointer;
}
.btn2{

    text-align: right;
    background-color:
    border: 2px solid  whitesmoke;
    font-size: 15px;
    padding: 8px 5px;
    margin: 4px 2px;
    text-decoration: none;
    cursor: pointer;
}
.btn3{
    text-decoration: none;
    background-color:
    border: 2px solid  whitesmoke;
    font-size: 15px;
    padding: 8px 5px;
    margin: 4px 2px;
    cursor: pointer;
}
.btn4{
    text-decoration: none;
    background-color:
    border: 2px solid whitesmoke;
    font-size: 15px;
    padding: 8px 5px;
    margin: 4px 2px;
    cursor: pointer;
}
.cart{
    position: relative;
    left: 37%;
    top: 5px;
}
.search{
    position: relative;
    left: 38%;
    top: 2px;
}
.mydiv1{
    margin: 0; 
    padding-bottom: -0px;
}
.mydiv2{
    margin: 0;
}
.logo{
    padding-left: 15px;
    padding-top: 15px;
    float: left;
    position: relative;
    bottom: 15px;
}
.top-icons{
    font-size: 25px;
    position: absolute;
    top: 50px;
    right: 100px;
    margin: 10px 0 10px 0;
    text-decoration: none;
}
.top-icons2{
    font-size: 25px;
    position: absolute;
    bottom: 200px;
    right: 100px;
    margin: 10px 0 10px 0;
    text-decoration: none;
}
h1{
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Poiret One', cursive;
    padding-top: 10px;
    margin: 0%;
    text-align: left;
    font-size:  35px;
    color: tomato;
}
h2{
    color:  lightseagreen;;
}
h3{
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: left;
    position: relative;
    left: 100px;

}
h5{
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: left;
    margin: 0%;
    position: relative;
    left: 0px;  
    bottom: 1px;
}
.fashion.div{
    position: absolute;
    
}
.women{
    margin: 0%;
    position: absolute;
    bottom: 10%;
    left: 3%;
    text-decoration: none;
    color: tomato;
    font-size: 100px;  
}
.kids{
    margin: 0%;
    position: absolute;
    bottom: 80px;
    left: 43%;
    text-decoration: none;
    color:tomato;
    font-size: 100px;

}
.men{
    margin: 0%;
    position: absolute;
    bottom: 80px;
    left: 79%;
    text-decoration: none;
    color: tomato;
    font-size: 100px;
}

.latest-trending{
    border: tomato 2px;

}
.women.section{

}
.dresses{
    margin: 0%;
    position: absolute;
    bottom: 10%;
    left: 3%;
    text-decoration: none;
    color: tomato;
    font-size: 100px;  
}
.Bags{
    margin: 0%;
    position: absolute;
    bottom: 80px;
    left: 43%;
    text-decoration: none;
    color:tomato;
    font-size: 100px;

}
.shoes{
    margin: 0%;
    position: absolute;
    bottom: 80px;
    left: 79%;
    text-decoration: none;
    color: tomato;
    font-size: 100px;
}
.bottom-container{  
    line-height: 0px;
    padding: 15px;
    background-color: 
}
.copyrights{
    line-height: 50px;
    color: white;
    font-size: 0.75rem;
}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}
    a:hover{
    color: #eaf6f6;
}